.ks_banner {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.ks_banner_title{
    position: absolute;
    color: #fff;
    inset: 0;;
    margin: auto;
    height: max-content;
    width: max-content;
}
.parent_cotent_left{
    color: #fff;
}