.ks_button{
    width: 160px;
    background-color: #07003e;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: 0;
    min-height: 50px;
    border: 1px solid #DF1CFF;
    box-shadow: inset 0px 0px 1px 0px #DF1CFF;
}